/* General Styles */
* {
    margin: 0;
}

html {
    background-color: hsla(265, 50%, 70%, 0.5);
    font-size: 16px;
}

main {
    padding-top: 6rem;
}

/* Header Styles */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: hsla(260, 70%, 60%, 1);
    height: 6rem;
    width: 100%;
    position: fixed;
    z-index: 1;
}


header h1 {
    font-family: 'Pacifico', cursive;
    margin-left: 20px;
    font-size: 2rem;
}

header nav {
    display: flex;
    justify-content: space-between;
    margin-right: 20px;
    min-width: 350px;
}

header nav a {
  font-family: 'Pacifico', cursive;
  font-size: 1.6rem;
  color: rgb(0, 0, 0);
  text-decoration: none;    
}

header nav a:hover {
    color: rgb(255, 255, 255)
}

header nav a:active {
    font-size: 1.8rem;
}

/* Mission Statement Styles */
.mission {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 700px;
    width: 100%;
    background-image: url(images/mission.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.mission h2,h4 {
    color: hsla(260, 70%, 40%, 1);
}

.mission h2 {
    font-family: 'Pacifico', cursive;
    font-size: 4rem;
}

.mission h4 {
    font-family: 'Pacifico', cursive;
    font-size: 3rem;
}

/* Products Styles */
.products {
    text-align: center;
    padding-top: 4rem;
    height: 100%;
}

.products h2 {
    font-family: 'Pacifico', cursive;
    font-size: 4rem;
    color: hsla(260, 70%, 40%, 1);
    margin-bottom: 2rem;
}

.skateboards {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 2rem;
}

.product {
    border: 2px solid hsla(260, 70%, 40%, 1);
    margin-top: 10px;
    margin-bottom: 10px;
}

.product figure figcaption {
    font-family: 'Bangers', cursive;
    font-size: 1.3rem;
    color: hsla(260, 70%, 40%, 1);
}

.product figure img {
    width: 200px;
    height: 350px;
}

.product figure img:hover {
    width: 300px;
    height: 450px;
}

/* Team Styles */
.team {
    padding-top: 4rem;
    text-align: center;
}

.team-mates {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    gap: 4rem;
}

.team h2 {
    font-family: 'Pacifico', cursive;
    font-size: 4rem;
    color: hsla(260, 70%, 40%, 1);
    margin-bottom: 2rem;
}

.team-mate figure figcaption {
    font-family: 'Bangers', cursive;
    font-size: 3rem;
    color: hsla(260, 70%, 40%, 1);
    visibility: hidden;
}

.team-mate figure:hover figcaption {
    visibility: visible;
}


.team-mate figure img {
    width: 450px;
    height: 700px;
}

/* Contact Styles */
.contact {
    padding-top: 4rem;
    height: 700px;
    text-align: center;
}

.contact h2 {
    font-family: 'Pacifico', cursive;
    font-size: 4rem;
    color: hsla(260, 70%, 40%, 1);
    margin-bottom: 2rem;
}

.map {
    display: flex;
    align-items: center;
    justify-content: center;
}

.map p {
    font-family: 'Bangers', cursive;
    font-size: 3rem;
    color: hsla(260, 70%, 40%, 1);
    margin-left: 20px;
}

/* Footer Styles */
footer {
    display: flex;
    align-items: center;
    justify-content: space-between; 
    background-color: hsla(260, 70%, 60%, 1);
    height: 70px;
}

footer span {
    margin-left: 20px;
}

footer p {
    margin-right: 20px;
}

/* Responsive Design */
@media only screen and (max-width: 1024px) {
    .team-mate figure figcaption {
        visibility: visible;
    }

    .map {
        flex-direction: column;

    }

    .map p {
        margin-top: 20px;
        margin-left: 0;
    }
}

@media only screen and (max-width: 768px) {
    header {
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        height: 7.5rem;
    }
    
    header h1 {
        margin: 0px;
        font-size: 2.5rem;
    }

    header nav a:active {
        color: rgb(255, 255, 255);
    }

    .mission {
        justify-content: center;
    }

    .mission h2 {
        font-size: 3rem;
    }

    .mission h4 {
        font-size: 1.5rem;
    }
}

@media only screen and (max-width: 480px) {
    header h1 {
        font-size: 2rem;
    }

    header nav a {
        font-size: 1.3rem;
    }
}